<h1>Assignment 3</h3>
Due May 5, 2021.
<p>In the first two problems, you will implement the control-flow graph (CFG) algorithm we studied in week 3 from the Clang AST. Note that there is a Clang::CFG class, but in the first two problems, you will be creating your own implementation from scratch using AST traversals, such as the RecursiveASTVisitor (feel free to reuse portions of code shared in class or from your previous assignment).&nbsp;</p>
<h2>Problem 1: Identifying basic blocks: Part 1</h2>
<p>In this problem, you will implement identification of<span>&nbsp;</span><em>leader</em><span>&nbsp;</span>instructions which will be used later to construct the basic blocks (needed for constructing a CFG). You will do this through analysis of the Clang AST.&nbsp; A "basic block" is a sequence of instructions where control flow enters at only the first instruction and exits at only the last instruction. In this problem, you can assume that the code doesn't contain any<span>&nbsp;</span><code>for</code><span>&nbsp;</span>or<span>&nbsp;</span><code>while</code><span>&nbsp;</span>loops, but may contain<span>&nbsp;</span><code>if</code><span>&nbsp;</span>and<span>&nbsp;</span><code>goto</code><span>&nbsp;</span>control-flow statements. The pseudocode below shows the relevant portion of the algorithm from<span> our CFG lecture </span>(here '+' signifies the set union operation when the arguments are sets). What we refer to as<span>&nbsp;</span><em>instruction, in this case,</em> corresponds to Stmt nodes in the Clang AST (generally nodes descended from the<span>&nbsp;</span><code>Stmt</code><span>&nbsp;</span>class).&nbsp;</p>
<p class="vspace">Pseudocode:</p>
<div id="sourceblock1" class="sourceblock ">
<div class="sourceblocktext">
<div class="c">
<ol>
<li class="li1">
<div class="de1"><strong>Input<span class="sy0">:</span>&nbsp;List of n instructions&nbsp;<span class="br0">(</span>instr<span class="br0">[</span>i<span class="br0">]</span>&nbsp;<span class="sy0">=</span>&nbsp;ith instruction<span class="br0">)</span></strong></div>
</li>
<li class="li1">
<div class="de1"><strong>Output<span class="sy0">:</span>&nbsp;Set of leaders</strong></div>
</li>
<li class="li1">
<div class="de1"><strong><span class="co1">// First instruction is always a leader</span></strong></div>
</li>
<li class="li1">
<div class="de1"><strong>leaders&nbsp;<span class="sy0">=</span>&nbsp;<span class="br0">{</span><span class="nu0">1</span><span class="br0">}</span></strong></div>
</li>
<li class="li2">
<div class="de2"><strong><span class="kw1">for</span>&nbsp;each instruction i</strong></div>
</li>
<li class="li1">
<div class="de1"><strong>&nbsp;&nbsp;<span class="kw1">if</span>&nbsp;instr<span class="br0">[</span>i<span class="br0">]</span>&nbsp;is a branch or jump &nbsp;<span class="co1">// if or goto</span></strong></div>
</li>
<li class="li1">
<div class="de1"><strong>&nbsp; &nbsp; &nbsp; leaders&nbsp;<span class="sy0">=</span>&nbsp;leaders&nbsp;<span class="sy0">+</span>&nbsp;set of potential targets of instr<span class="br0">[</span>i<span class="br0">]</span></strong></div>
</li>
</ol>
</div>
</div>
</div>
<p class="vspace">For each leader instruction you find, look up its location information and print it to stdout (optionally you can print the actual instruction, too).&nbsp;</p>
<h3>Files: problem1.cpp</h3>
<h2>Problem 2: Identifying basic blocks: Part II</h2>
<p>Given a set of leaders, now implement the rest of the basic block identification algorithm (pseudocode below). Again you can assume no<span>&nbsp;</span><code>for</code><span>&nbsp;</span>or<span>&nbsp;</span><code>while</code><span>&nbsp;</span>loops. You can also limit your processing to just the main() function.</p>
<div id="sourceblock2" class="sourceblock ">
<div class="sourceblocktext">
<div class="c">
<ol>
<li class="li1">
<div class="de1"><strong>Input<span class="sy0">:</span>&nbsp;List of n instructions&nbsp;<span class="br0">(</span>instr<span class="br0">[</span>i<span class="br0">]</span>&nbsp;<span class="sy0">=</span>&nbsp;ith instruction<span class="br0">)</span></strong></div>
</li>
<li class="li1">
<div class="de1"><strong>Output<span class="sy0">:</span>&nbsp;List of basic blocks</strong></div>
</li>
<li class="li1">
<div class="de1"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span class="br0">(</span>bblock<span class="br0">[</span>x<span class="br0">]</span>&nbsp;is block with leader x<span class="br0">)</span></strong></div>
</li>
<li class="li1">
<div class="de1"><strong><span class="co1">// First instruction is a leader</span></strong></div>
</li>
<li class="li2">
<div class="de2"><strong>leaders&nbsp;<span class="sy0">=</span>&nbsp;<span class="br0">{</span><span class="nu0">1</span><span class="br0">}</span></strong></div>
</li>
<li class="li1">
<div class="de1"><strong><span class="kw1">for</span>&nbsp;each instruction i</strong></div>
</li>
<li class="li1">
<div class="de1"><strong>&nbsp;&nbsp;<span class="kw1">if</span>&nbsp;instr<span class="br0">[</span>i<span class="br0">]</span>&nbsp;is a branch or jump &nbsp;<span class="co1">// if or goto</span></strong></div>
</li>
<li class="li1">
<div class="de1"><strong>&nbsp; &nbsp; &nbsp; leaders&nbsp;<span class="sy0">=</span>&nbsp;leaders&nbsp;<span class="sy0">+</span>&nbsp;set of potential targets of instr<span class="br0">[</span>i<span class="br0">]</span></strong></div>
</li>
<li class="li1">
<div class="de1"><strong><span class="co1">// Problem 2 starts here:</span></strong></div>
</li>
<li class="li2">
<div class="de2"><strong>foreach x in leaders</strong></div>
</li>
<li class="li1">
<div class="de1"><strong>&nbsp; &nbsp; bblock<span class="br0">[</span>x<span class="br0">]</span>&nbsp;<span class="sy0">=</span>&nbsp;<span class="br0">{</span>&nbsp;x&nbsp;<span class="br0">}</span></strong></div>
</li>
<li class="li1">
<div class="de1"><strong>&nbsp; &nbsp; i&nbsp;<span class="sy0">=</span>&nbsp;x<span class="sy0">+</span><span class="nu0">1</span>&nbsp;<span class="co1">// Fill out x&rsquo;s basic block</span></strong></div>
</li>
<li class="li1">
<div class="de1"><strong>&nbsp; &nbsp;&nbsp;<span class="kw1">while</span>&nbsp;i&nbsp;<span class="sy0">&lt;=</span>&nbsp;n and i is not in leaders</strong></div>
</li>
<li class="li1">
<div class="de1"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;block<span class="br0">[</span>x<span class="br0">]</span>&nbsp;<span class="sy0">=</span>&nbsp;block<span class="br0">[</span>x<span class="br0">]</span>&nbsp;<span class="sy0">+</span>&nbsp;<span class="br0">{</span>&nbsp;i&nbsp;<span class="br0">}</span></strong></div>
</li>
<li class="li2">
<div class="de2"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; i&nbsp;<span class="sy0">=</span>&nbsp;i&nbsp;<span class="sy0">+</span>&nbsp;<span class="nu0">1</span></strong></div>
</li>
</ol>
</div>
</div>
</div>
<p class="vspace">First copy your<span>&nbsp;</span><code>problem1.C</code><span>&nbsp;</span>file to<span>&nbsp;</span><code>problem2.C</code><span>&nbsp;</span>and extend it to compute and output the basic blocks. Because you will not be using them to actually construct a CFG, you don't have to store the basic blocks explicitly -- just print each statement's file info in a way similar to what you did for the leader instructions in Problem 1. For example, given this code:</p>
<pre style="padding-left: 40px;">#include &lt;stdio.h&gt;<br />int main(int argc, char* argv[]) {<br />&nbsp; int a=2, b=3, x=0, y=0;<br />&nbsp; if (a &gt; 10) {<br />&nbsp; &nbsp; &nbsp; y = a + b;&nbsp;<br />&nbsp; } else {<br />&nbsp; &nbsp; &nbsp; x = b - a;<br />&nbsp; }<br />&nbsp; printf("%d", x);<br />&nbsp; printf("%d", y);<br />}</pre>
<p class="vspace">Your output can look similar to this output produced by the week5/print-cfg example, which uses the built-in Clang::CFG class.</p>
<pre style="padding-left: 80px;"><br />&nbsp;[B5 (ENTRY)]<br />&nbsp; &nbsp;Succs (1): B4<br /><br />&nbsp;[B1]<br />&nbsp; &nbsp;1: printf("%d", x)<br />&nbsp; &nbsp;2: printf("%d", y)<br />&nbsp; &nbsp;Preds (2): B2 B3<br />&nbsp; &nbsp;Succs (1): B0<br /><br />&nbsp;[B2]<br />&nbsp; &nbsp;1: x = b - a<br />&nbsp; &nbsp;Preds (1): B4<br />&nbsp; &nbsp;Succs (1): B1<br /><br />&nbsp;[B3]<br />&nbsp; &nbsp;1: y = a + b<br />&nbsp; &nbsp;Preds (1): B4<br />&nbsp; &nbsp;Succs (1): B1<br /><br />&nbsp;[B4]<br />&nbsp; &nbsp;1: int a = 2;<br />&nbsp; &nbsp;2: int b = 3;<br />&nbsp; &nbsp;3: int x = 0;<br />&nbsp; &nbsp;4: int y = 0;<br />&nbsp; &nbsp;5: a &gt; 10<br />&nbsp; &nbsp;T: if [B4.5]<br />&nbsp; &nbsp;Preds (1): B5<br />&nbsp; &nbsp;Succs (2): B3 B2<br /><br />&nbsp;[B0 (EXIT)]<br />&nbsp; &nbsp;Preds (1): B1</pre>
<h3>Files: problem2.cpp</h3>
<h2>Problem 3: Program slicing (grads only, optional for undergrads)</h2>
<p>In this problem, we will use your CFG from the previous problem to implement a simplified form of <a class="inline_disabled" href="https://en.wikipedia.org/wiki/Program_slicing" target="_blank" rel="noopener"><em>program slicing</em></a>. The scope of this is limited to single functions and you can do a simplified forward analysis of the CFG. Given a particular output variable, detect all instructions that must be executed in order to compute that variable (the slice).&nbsp;</p>
<p>For example, in the example code from Problem 1, if we select x, then the instructions corresponding to the following statements should be marked and output.</p>
<pre style="padding-left: 40px;"><code>#include &lt;stdio.h&gt;</code><br /><code>int main(int argc, char* argv[]) {</code><br /><code>  int a=2, b=3, x=0;</code><br />x = b - a;<br />printf("%d", x);<br />}</pre>
<p>You can assume there will be no pointers or loops.</p>
<h3>Files: problem3.cpp</h3>
<h2>Optional extra credit (+5)</h2>
<p>Handle while (and if you wish, for) loops in problems 1 and 2. To indicate that you have completed the extra credit portion of the assignment, please add a file called<span>&nbsp;</span><code>extra.txt</code><span>&nbsp;</span>with a very brief description of your approach and the types of loops it can handle.</p>
